.content{
    margin-left: 2%;
    margin-top: 2%;
}


h1{
    font-size: medium;
    font-size: xx-large;
    color: black;
    text-align: center;

  }
  
  
  .problemContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
   

}  
.toolbar{
 
    align-items: center;
    margin-left: 20%;
    margin-right: 20%;
}

.paletteContainer {
    background-image: url(../imgs/palette.png);
    background-repeat: no-repeat;
    width: 200;
    height: 200px;
    background-size: contain;
    position: relative;
    display: inline-flex;
    margin-left: 5%;
}


#home{
    float: left;

}

#questionMark{
    float: right;
 }


#rightNum,
#rightDenom{
    margin-left: 25px;
    margin-right: 25px;
    font-family: sans-serif, Arial;
    font-size: 30px;


} 

#equalsign,
#operationSign,
#answerWholeNum,
#answerNum,
#answerDenom,
#leftNum,
#leftDenom{
    
    margin-left: 25px;
    margin-right: 25px;
    font-family: sans-serif, Arial;
    font-size: 30px;

}

#leftNum,
#rightNum{
   border-bottom: black solid 2px;

}
#bar{
    font-size: 20px;
    background-color: yellow;
    align-items: center;
    text-align: right;
} 



#pinkblot{
    position: relative;
    top: 108px;
    left: 3px;
}

#blueblot{
    position: relative;
    top: 126px;
    left: -40px;
}

#orangeblot{
    position: relative;
    top: 114px;
    left: -74px;
}

#purpleblot{
    position: relative;
    top: 53px;
    left: -259px;
}




input[type="text"] {
    height: 40px;
    width: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;

}

.submitContainer{
    text-align: center;
}

.submitButton {
    display: inline-block;
    background-color: #ddd;
    padding: 10px 20px;
    font-family: sans-serif, Arial;
    font-size: 16px;
    border: 2px solid #444;
    border-radius: 4px;

}

.submitButton:hover {
    color: rgb(45, 149, 172);   
}

#checkImg,
input[type = "image"] {
    width: 50px;
    height: 50px;
    padding: 10px 10px 10px 10px;
    margin-right: 10px;
    margin-left: 10px;

}

.buttonLabel{
    background-color: rgb(146, 145, 145);
    padding-right: 60px;
    padding-left: 60px;
    font-family: sans-serif, Arial;
    font-size: 20px;
    width: 135px;

}



.buttonContainer{
    /* align-items: center; */
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #C8BFC7;
  

}
  
#vertcutImg,
#horizCutimg,
#palletImg,
#moveImg,
#answToolImg,
#horizCross,
#vertCross,
#resetImg{
    border: 1px solid #C8BFC7;
}



.toolbarbutton:hover{
    background: #e1e1e1;
    border: 1px solid #d0d0d0;

} 

/* #vertcutImg:checked {
    border-color: green;
    background: green;

} */

#additionCanvas
{
    margin-right: 20%;
    margin-left: 13%;

}
#subtractionCanvas{
    margin-right: 20%;
    margin-left: 13%;

}
#multplicationCanvas{
    margin-right: 20%;
    margin-left: 27%;

}

#divisionCanvas{
    margin-right: 20%;
    margin-left: 11%;

} 

#checkImg_visual{
     margin-left: 1000px;
     margin-top: 10px;
}


.img{
    max-width: 100%;
    max-height: 100%;
}

.selected {
    border-radius: 10px;
    border-width: 10px;
    background-color: #837280;
}
